@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

        * {
    font-family: 'Montserrat', sans-serif;

}

html {
    height: 100%
}

p {
    color: grey
}

#heading1 {
    text-transform: uppercase;
    color: #2f6fab;
    font-weight: normal;
    font-weight: 600;
    font-size: 24px;
    
}


#headpar{
    font-size: 14px;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: -20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: auto;
}
.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input[type='text']{
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: ;
    font-size: 16px;
    letter-spacing: 1px
}
#msform input[type='email']{
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: ;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input[type='email']:focus,{
    border: 1px solid #2f6fab;
    outline-width: 0
}

#msform input[type='text']:focus,{
    border: 1px solid #2f6fab;
    outline-width: 0
}

#msform .action-button {
    width: 120px;
    background: #9b121c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #c01023;
}

#msform .action-button-previous {
    width: 140px;
    background: #348400;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #68b705
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #000;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #2f6fab;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #c01023;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 14%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    
}

#progressbar #personal:before {
    
}

#progressbar #payment:before {
    
}

#progressbar #confirm:before {
    /*content: url();*/
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #c01023;
}

.progress {
    height: 5px;
}

.progress-bar {
    background-color: #c01023;
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.logo{
    width: 80px;
    height: auto;
   margin-bottom: 5px;
   margin-top: 5px;
}
.mysc{
  font-size: 108px;
  color: #2f6fab;
}
/*h5,h6{
    color: #2f6fab;
}*/
.hide {
  display: none;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    /*margin:-2px;*/
    padding: 8px 12px;
    border: 1px solid #9b121c;
    border-radius: 10px;
   /* background-color: #e7e7e7;
    border-color: #ddd;*/
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
  /* background-image: url('https://cdn.pixabay.com/photo/2020/11/27/13/13/man-5781874_1280.png');*/
    /*background-color:#9b121c;*/
    background: rgb(178,63,72);
    color: #fff;
background: linear-gradient(141deg, rgba(178,63,72,1) 29%, rgba(155,18,28,1) 85%);
}


.popup{
  width: 100%;
  height: 100vh;
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
}

#popup-article:target{
  display: flex;
}

.popup::before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #eee;

  position: fixed;
  left: 0;
  top: 50%;
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }  
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

.popup__block{
  height: calc(100vh - 40px);
  padding: 5% 15%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  overflow: auto;
  animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.popup__title{
  font-size: 1.5rem;
  margin: 0 0 1em;
}

.popup__close{
  width: 2rem;
  height: 2rem;
  text-indent: -9999px;

  position: fixed;
  top: 20px;
  right: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

.open-popup{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  border: 1px solid;
}
.top-lefthelp{
    background: #ee;
    color: #9b121c;
   /* border: 1px solid #9b121c;
    padding: 20px 20px;
    border-radius: 5px;*/
}
.side-viewcontent{
    background: #eee;
    padding:40px;
    border-radius: 5px;
}
.side-viewcontent h4{
    background: #348400;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}
.side-viewcontent p{
    font-size: 14px;
    margin-top: 20px;
}